<h1 class="text-center display-2"> <i> Nuevo tweet </i></h1>
<br>
<div class="position-absolute top-30 start-50 translate-middle-x" >
<%= render "form", tweet: @tweet %>
</div>
<br>

<div class="position-absolute top-50 start-50 translate-middle-x" >
<button class="btn btn-lg btn-light rounded border-dark" type="submit"><%= link_to "Regresar al index de tweets", tweets_path %></button>
</div>
